
.mainHomePage {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.banner {
    background-color: #ffffff;
    padding: 10px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    margin-top: 20px;
    margin-left:20px;
    margin-right:20px;
}
.buttons .explain {
    font-size: 15;
    font-weight: bold;
}
.mainHomePage  h1 {
    color: #FF0000;
    font-family: "Arial";
    font-weight: 300;
    font-size: 50px
}

.cardOne {
    background-color: #2B4B64;
}

.choice {
    margin-top: 3vh;
}


hr.solid {
    border-top: 3px solid #282828;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 5px;

}


.count {
    font-size: 30px;
    color:black;
}

.buttons {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    margin-left: 5vw;
    margin-right: 5vw;
}

.buttons .add {
    width: 45px;
    height: 45px;
    margin-top: 8vh;
    cursor:pointer;
    
}
.buttons .refresh{
    width: 65px;
    height: 65px;
    margin-top: 6vh;
    cursor:pointer;
}

.score {
    position:absolute;
    top:50;
    left: 80%;
}

.footer {
    margin-bottom:30px;
}